<% include header %>
<header> Welcome To My Webpage</header>
            <main>
            <h1>About Me</h1>
            <p>I am from India. I am a new student for fall 2018. I am currently pursuing my Masters in Applied Computer Science.</p>
            <h1> Education Background </h1>	
            <p>	I completed my under graduation in the stream of Computer Science and Engineering<br>
             at Dhanekula Institute of Engineering & Technology Affiliated under(JNTU Kakinada). </p>  
            <h1>My interests</h1> 
            <p>
                    I have done my Project on the Enabling Cloud Storage Auditing With Verifiable Outsourcing of Key Updates.<br> 
                    Where this project includes to develop and an webapplication.<br>
                    So, this make me an intrest in developing the wed application.<br>
            </p>
            <h1>My hobbies are</h1>
            <ul><li>Playing Badminton</li>
	        <li>Listening Music</li>
	        <li>Watching Movies</li>
            </ul>
            <h1> My Schedule for the semester </h1>
            <ul>
            <li> Web Apps(44568)---11:00 to 11:50(Monday, Wednesday) </li>
            <li> Object Oriented Programming(44542)---8:00 to 9:15(Tuesday,Thursday)</li>
            <li> Advance Database Management System(44560)---13:00 to 13:50(Monday,Wednesday,Friday)</li>
            </ul>
	        <iframe width="560" height="315" src="https://www.youtube.com/embed/cB5Wq8TQKA8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	        <h3>LinkedIn Profile</h3>
	        <p>
			    <a href="https://www.linkedin.com/in/harika-naidu-1b366616b/"> View the LinkedIn Profile </a>
		    </p>
             <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
             
        </main>
<% include footer %>