
<% include header %>
<body>
    <ol>
        <li>Coffee Mug</li>
        <li>Tshirt</li>
        <li>Hat</li>
        <li>winter coat</li>
    </ol>

    <div>
    <!-- <ul class="nav navbar-nav">
    <li><a href="/product/create" target="_blank">create</a></li>
    <li><a href="/product/delete" target="_blank">delete</a></li>
    <li><a href="/product/details" target="_blank">details</a></li>
    <li><a href="/product/edit" target="_blank">edit</a></li>
    </ul>
    </div> -->
</body>
<% include footer %>